.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
}

/* Adicionando margem superior de 5px para todos os botões */
button {
  margin: 10px;
}